<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="keywords" content="BlogBurst, blogs, blogging platform, diverse ideas, opinions, community, writers, topics, discussions, technical, business, poetry, creativity, conversations, user-generated content, reader engagement, knowledge sharing, vibrant community, sign up, contribute, connect, explore, BlogBurst app">
    <meta name="description" content="Welcome to BlogBurst - Your platform for diverse ideas and opinions! Join our community, share your thoughts on a myriad of topics, and discover a world of engaging content created by passionate writers. Sign up today to be a part of the vibrant BlogBurst community, where ideas flourish, discussions thrive, and knowledge is shared. Explore, and connect with like-minded individuals on a variety of blog topics ranging from technical and academic to nature and creativity. Unleash your creativity, ignite conversations, and immerse yourself in the rich tapestry of perspectives at BlogBurst.">
    <meta name="author" content="Omobolaji Durojaiye">
    <title>BlogBurst</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:wght@100&family=Montserrat:ital,wght@1,100&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;1,100&family=Roboto:wght@100&family=Sometype+Mono&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{url_for('static', filename='/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='/manifest.json')}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div style="margin-bottom: 0 !important;" class="alert alert-{{ category }}">
                Hi! , {{ message }}
            </div>
        {% endfor %}
    {% endwith %}
    <header>
        <div class="bb-logo">
            <a class="navbar-brand" href="#">
                <span style="font-weight: bold; position: relative; left: 10%;">
                    Blog<img src="{{url_for('static', filename='Images/BB-logo.png')}}" id="gif" width="40" height="40" class="img-fluid"><i style="color: plum;">Burst</i>
                </span>
            </a>
        </div>

        <nav class="bb-nav-links">
            <ul>
                <li>
                    <a href="/Who we are">
                        Who We Are
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Sign In
                    </a>
                </li>
                <li>
                    <a class="bb-btn-modal-plum mx-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">
                        Register
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="bb-intro">
        <div class="overlay">
            <div class="intro-text">
                <div class="bb-content-left">
                    <h1 class="animate__animated animate__backInLeft">
                        Share your ideas, 
                    </h1> <br>
                    <p style="font-weight: bold;" class="animate__animated animate__backInUp">
                        We burst your ideas into the online space!
                    </p>
                    <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Start Blogging</a>
                </div>
            </div>
            <img src="{{url_for('static', filename='Images/blog-index.gif')}}" alt="">
        </div>
    </section>


    <section class="type-blogs">

        <div class="type-head">
            <h2>
                What Do you Like?
            </h2>
            <p>
                We've got them all!
            </p>
        </div>

        <div class="blogs-types">
            <div class="type">
                <img src="{{url_for('static', filename='icons/tech-write.png')}}" alt="">
                <p>
                    Technical Writing
                </p>
            </div>
            <div class="type">
                <img src="{{url_for('static', filename='icons/poetry-write.png')}}" alt="">
                <p>
                    Poetry
                </p>
            </div>
            <div class="type">
                <img src="{{url_for('static', filename='icons/nature-write.png')}}" alt="">
                <p>
                    Nature Writing
                </p>
            </div>
            <div class="type">
                <img src="{{url_for('static', filename='icons/journalistic-write.png')}}" alt="">
                <p>
                    Journalistic Writing
                </p>
            </div>
            <div class="type">
                <img src="{{url_for('static', filename='icons/humor-write.png')}}" alt="">
                <p>
                    Humor
                </p>
            </div>
            <div class="type">
                <img src="{{url_for('static', filename='icons/food-and-recipe-write.png')}}" alt="">
                <p>
                    Food and Recipe
                </p>
            </div>
            <div class="type">
                <img src="{{url_for('static', filename='icons/edu-write.png')}}" alt="">
                <p>
                    Educational Writing
                </p>
            </div>
            <div class="type">
                <img src="{{url_for('static', filename='icons/creative-write.png')}}" alt="">
                <p>
                    Creatve Writing
                </p>
            </div>
            <div class="type">
                <img src="{{url_for('static', filename='icons/business-write.png')}}" alt="">
                <p>
                    Business Writing
                </p>
            </div>
        </div>

    </section>

    <section class="featured-contents">
        <div class="featured-head">
            <h2>
                Discover The Latest Articles  on Blogburst
            </h2>
        </div>

        <div class="featured">
            {% for post in posts %}
            <div class="top-stories">
                <img src="{{url_for('static', filename='Images/index-post-cover.png')}}" alt="">
                <div class="title">
                    <p>
                        <!--TAG GOES IN HERE-->
                    </p>
                    <a href="">
                        {{post.posts_title}}
                    </a>
                </div>
            </div>
            {% endfor %}

            <!-- <div class="top-stories">
                <img src="{{url_for('static', filename='Images/flower.png')}}" alt="">
                <div class="title">
                    <p>
                        Food & Recipe
                    </p>
                    <a href="">
                        25 Dessert Pizza Recipes That Are A Little Slice Of Heaven
                    </a>
                </div>
            </div>

            <div class="top-stories">
                <img src="{{url_for('static', filename='Images/dessert-pizza-recipes.png')}}" alt="">
                <div class="title">
                    <p>
                        Food & Recipe
                    </p>
                    <a href="">
                        {{session.get('title')}}
                    </a>
                </div>
            </div>

            <div class="top-stories">
                <img src="{{url_for('static', filename='Images/dessert-pizza-recipes.png')}}" alt="">
                <div class="title">
                    <p>
                        Food & Recipe
                    </p>
                    <a href="">
                        25 Dessert Pizza Recipes That Are A Little Slice Of Heaven
                    </a>
                </div>
            </div>

            <div class="top-stories">
                <img src="{{url_for('static', filename='Images/dessert-pizza-recipes.png')}}" alt="">
                <div class="title">
                    <p>
                        Food & Recipe
                    </p>
                    <a href="">
                        25 Dessert Pizza Recipes That Are A Little Slice Of Heaven
                    </a>
                </div>
            </div>

            <div class="top-stories">
                <img src="{{url_for('static', filename='Images/dessert-pizza-recipes.png')}}" alt="">
                <div class="title">
                    <p>
                        Food & Recipe
                    </p>
                    <a href="">
                        25 Dessert Pizza Recipes That Are A Little Slice Of Heaven
                    </a>
                </div>
            </div>
            
            <div class="top-stories">
                <img src="{{url_for('static', filename='Images/dessert-pizza-recipes.png')}}" alt="">
                <div class="title">
                    <p>
                        Food & Recipe
                    </p>
                    <a href="">
                        25 Dessert Pizza Recipes That Are A Little Slice Of Heaven
                    </a>
                </div>
            </div>

            <div class="top-stories">
                <img src="{{url_for('static', filename='Images/dessert-pizza-recipes.png')}}" alt="">
                <div class="title">
                    <p>
                        Food & Recipe
                    </p>
                    <a href="">
                        25 Dessert Pizza Recipes That Are A Little Slice Of Heaven
                    </a>
                </div>
            </div> -->
        </div>
    </section>

    <footer>
        <p>
            &copy; 2024. Made with &#128156; by B
        </p>
    </footer>



    <!-- Registration modal starts here -->
    <div class="modal fade animate__animated animate__rollIn" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" style="color: plum !important; font-weight: bold !important;" id="staticBackdropLabel">Register</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             
                <form id="regform" method="post" action="/index">

                    {{ form.csrf_token }}

                    <div class="warn">
                        <p id="warning">

                        </p>
                    </div>

                    <div class="mb-3">
                        {{ form.userfirstname.label(class="form-label") }}
                        {{ form.userfirstname(class="form-control") }}
                    </div>

                    <div class="mb-3">
                        {{ form.userlastname.label(class="form-label") }}
                        {{ form.userlastname(class="form-control") }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.userregemail.label(class="form-label") }}
                        {{ form.userregemail(class="form-control", id="regemail", aria_describedby="emailHelp") }}
                    </div>
  
                    <div class="mb-3">
                        {{ form.userregpwd.label(class="form-label") }}
                        {{ form.userregpwd(class="form-control", id="regpwd") }}
                    </div>

                    <div class="mb-3">
                        {{ form.userdateofbirth.label(class="form-label") }}
                        {{ form.userdateofbirth(class="form-control", id="dateofbirth") }}
                    </div>

                    <div class="form-check form-check-block">
                        <input class="form-check-input" type="radio" name="usergender" id="male" value="option1">
                        <label class="form-check-label" for="male" value="male">Male</label>
                    </div>

                    <div class="form-check form-check-block mb-3">
                        <input class="form-check-input" type="radio" name="usergender" id="female" value="option2">
                        <label class="form-check-label" for="female" value="female">Female</label>
                    </div>
                    <!--gender-->

                    <!--agreement-->
                    <div class="mb-3 form-check">
                        {{ form.agree(class="form-check-input", id="agree") }}
                        {{ form.agree.label(class="form-check-label", for="agree") }} <br>
                        <a style="font-size: .7em; color: plum; text-decoration: none; margin: 0; padding: 0;" href="/terms-and-conditions/" target="_blank">Check out the terms and conditions</a>
                    </div>
                    <!--agreement-->
                    
                    {{ form.submit(class="btn bb-btn-modal-plum", id="remove-dis") }}

                    <!--Has account already?-->
                    <p style="color: plum; margin-top: 10px;">
                        Already have an account? <a style="color: black;" href="/login">Sign in</a>
                    </p>
                    <!--Has account already?-->
                </form>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="bb-hinge-outro" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn bb-btn-modal-plum">Understood</button> -->
            </div>
        </div>
        </div>
    </div>
    <!-- Registration modal ends here -->



    <script src="{{url_for('static', filename='script/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script>
        // $(document).ready(function() {
        //     // Checkbox button disabled
        //     $('#agree').click(function() {
        //         var stateForMale = $("#agree").prop('checked');
        //         $('#remove-dis').prop('disabled', !stateForMale);
        //     });
        // });
    </script>

</body>
</html>
