{% extends "user/blogcategoriesbase.html" %}

{% block content %}
    <div class="post" style="border: 1px solid #000; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; border-radius: 20px; padding: 15px; margin: 20px; width: 80%; position: relative; left: 10%; background-color: #141414; color: #000;">
        <div class="post-head" style="padding: 10px; background-color: #8E4585; border-radius: 10px 10px 0 0; color: #fff;">
            <h2 style="margin: 0;">{{ post.posts_title }}</h2>
        </div>
        <div class="post-pic">
            <img src="{{ url_for('static', filename='postsimgs/' + post.posts_pic) }}" alt="Post Image" style="width: 100%; height: auto;">
        </div>
        <div class="post-content" style="margin-top: 20px; word-spacing: 2px; padding: 20px;">
            <div class="auth" style="display: flex !important; flex-direction: column !important; justify-content: flex-start !important; align-items: flex-start !important;">
                <p style="font-weight: bold; margin: 10px 0; color: #fff;">Author: {{ post.author.users_fname }} {{ post.author.users_lname }}</p>
                <p style="color: #fff;">Posted on: {{ post.post_created_on.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            </div>
            <p style="color: #000;  text-align: left !important;">{{ post.posts_content }}</p>
        </div>
        
        <!-- Display comments below the post content -->
        <div class="comments" style="margin-top: 30px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h3 style="color: #8E4585; margin-bottom: 15px;">Comments</h3>
            {% for comment in post.comments %}
                <div class="comment" style="border: 1px solid #000; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; width: 40%; padding: 15px; margin-bottom: 20px; background-color: #141414;">
                    <p style="margin-bottom: 10px; color: plum !important;">{{ comment.comment_content }}</p>
                    <p style="font-weight: bold; margin-bottom: 10px; color: #8E4585;">Commented by: {{ comment.commenter.users_fname }} {{ comment.commenter.users_lname }}</p>
                    <p style="color: #777; margin: 0; color: #000;">Commented on: {{ comment.comment_made_on }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
