{% extends "user/base.html" %}

{% block title %}
    User Profile ||
    {{ super() }}
{% endblock title %}

{% block maincss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_page.css') }}">
{% endblock maincss %}

{% block content %}

<div class="profile-head">
    <div class="profile-pic">

        <div class="image-cont">
            {% if user.users_profile_pic %}
            <img class="rounded" src="/static/uploads/{{user.users_profile_pic}}" alt="">
            {% else %}
            <img src="{{url_for('static', filename='icons/user-profile.png')}}" alt="">
            {% endif %}
        </div>

    </div>

    <div class="additional-info">

        <div class="profile-name">

            <div class="user-name">
                <h3 style="text-align: center;">
                    {{ user.users_fname }} {{ user.users_lname }}
                </h3>
            </div>

            <div class="user-bio">
                <p>
                    {{ user.users_bio }}
                </p>
                <div class="social">
                    <div class="icons">
                        <a href="{{ user.facebook_url }} " target="_blank">
                            <img src="{{ url_for('static', filename='icons/bb-facebook.png') }}" height="20" width="30" class="img-fluid">
                        </a>
                    </div>
                    <div class="icons">
                        <a href="{{ user.instagram_url }}" target="_blank">
                            <img src="{{ url_for('static', filename='icons/bb-instagram.png') }}" height="20" width="30" class="img-fluid">
                        </a>
                    </div>
                    <div class="icons">
                        <a href="{{ user.x_url }}" target="_blank">
                            <img src="{{ url_for('static', filename='icons/bb-x.png') }}" height="20" width="30" class="img-fluid">
                        </a>
                    </div>
                    <div class="icons">
                        <a href="mailto:{{ user.users_email }}" target="_blank">
                            <img src="{{ url_for('static', filename='icons/bb-email.png') }}" height="20" width="30" class="img-fluid">
                        </a>
                    </div>
                    <div class="icons">
                        <a href="{{ user.github_url }}" target="_blank">
                            <img src="{{ url_for('static', filename='icons/bb-github.png') }}" height="20" width="30" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="social-links">
            <h4 style="text-align: left; padding-left: 2%;">Connections</h4>
            <div class="connected-users">
                {% for connected_user in connected_users %}
                    <div class="connected-user">
                        <a href="{{ url_for('user_profile', user_id=connected_user.users_id) }}">
                            <div class="user-profile-pic">
                                {% if connected_user.users_profile_pic %}
                                    <img class="rounded" src="/static/uploads/{{connected_user.users_profile_pic}}" alt="">
                                {% else %}
                                    <img src="{{url_for('static', filename='icons/user-profile.png')}}" alt="">
                                {% endif %}
                            </div>
                            <div>
                                {{ connected_user.users_fname }} {{ connected_user.users_lname }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        

    </div>

</div>

<div class="all-posts mt-4">
    <div class="posts">
        <h4 style="text-align: left; padding-left: 2%;">
            {{ user.users_fname }} {{ user.users_lname }}'s posts
        </h4>
        <ol>
            {% for post in posts %}
                <li style="display: flex; justify-content: space-between;">
                    {{ post.posts_title }}
                    <span>
                        <a href="{{ url_for('post_detail', post_id=post.posts_id) }}">
                            <button class="btn btn-success btn-sm" data-bs-toggle="tooltip" title="Read">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-book-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                                </svg>
                            </button>
                        </a>
                    </span>
                </li>
            {% endfor %}
        </ol>
    </div>
</div>

{% endblock content %}