<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="keywords" content="BlogBurst, blogs, blogging platform, diverse ideas, opinions, community, writers, topics, discussions, technical, business, poetry, creativity, conversations, user-generated content, reader engagement, knowledge sharing, vibrant community, sign up, contribute, connect, explore, BlogBurst app">
    <meta name="description" content="Welcome to BlogBurst - Your platform for diverse ideas and opinions! Join our community, share your thoughts on a myriad of topics, and discover a world of engaging content created by passionate writers. Sign up today to be a part of the vibrant BlogBurst community, where ideas flourish, discussions thrive, and knowledge is shared. Explore, and connect with like-minded individuals on a variety of blog topics ranging from technical and academic to nature and creativity. Unleash your creativity, ignite conversations, and immerse yourself in the rich tapestry of perspectives at BlogBurst.">
    <meta name="author" content="Omobolaji Durojaiye">
    <title>Terms and Conditions | BlogBurst </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:wght@100&family=Montserrat:ital,wght@1,100&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;1,100&family=Roboto:wght@100&family=Sometype+Mono&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{url_for('static', filename='/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='/manifest.json')}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <style>
        body {
            background: plum;
        }

        strong {
            font-size: 1.5em;
            color: white;

        }

        .head {
            position: relative;
            margin-bottom: 10vh;
        }


        .content {
            height: max-content;
            padding: 20px;
            border: 2px solid plum;
            width: 80%;
            position: relative;
            left: 10%;
        }
    </style>
</head>
<body>

    <header>
        <div class="bb-logo">
            <a class="navbar-brand" href="#">
                <span style="font-weight: bold; position: relative; left: 10%;">
                    Blog<img src="{{url_for('static', filename='Images/BB-logo.png')}}" id="gif" width="40" height="40" class="img-fluid"><i style="color: plum;">Burst</i>
                </span>
            </a>
        </div>

        <nav class="bb-nav-links">
            <ul>
                <li>
                    <a href="/Who we are">
                        Who We Are
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Sign In
                    </a>
                </li>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
            </ul>
        </nav>
    </header>
   
    <div class="content">

        <div class="head">
            <h1 style="text-align: center; position: relative; top: 2vh; bottom: 5vh !important; color: black; text-decoration: underline;">
                Terms and Conditions for <i style="color: white;">Blog</i><span style="color: purple;">Burst</span>
            </h1>
        </div>

        <p>
            Welcome to BlogBurst! We're excited to have you as a part of our community. 
            Before you dive into the world of writing and sharing, 
            please take a moment to review our terms and conditions. 
            By using our services, you agree to abide by these terms.
        </p>

        <ol>
            <li>
                <strong>Acceptance of Terms</strong>
                <p>
                    By accessing or using BlogBurst, you agree to comply with and be bound by these terms 
                    and conditions. If you do not agree with any part of the terms, please do not use our services.
                </p>
            </li>

            <li>
                <strong>User Accounts</strong>
                <ol type="a">
                    <li>
                        You must be at least 13 years old to create an account on BlogBurst
                    </li>
                    <li>
                        When creating an account, you agree to provide accurate and complete information.
                    </li>
                    <li>
                        You are responsible for maintaining the confidentiality of your account credentials 
                        and for all activities that occur under your account.
                    </li>
                    <li>
                        You agree to notify us immediately of any unauthorized use of your 
                        account or any other breach of security.
                    </li>
                </ol>
            </li>

            <li>
                <strong>User Content</strong>

                <ol type="a">
                    <li>
                        You retain ownership of the content you post on BlogBurst.
                    </li>
                    <li>
                        By submitting content, you grant BlogBurst a worldwide, non-exclusive, 
                        royalty-free license to reproduce, modify, adapt, and publish the content 
                        for the purpose of displaying, distributing, and promoting BlogBurst.

                    </li>
                    <li>
                        You agree not to post content that is illegal, defamatory, threatening, 
                        infringing on intellectual property rights, or otherwise objectionable.
                    </li>
                </ol>
            </li>
            <li>
                <strong> Categories</strong> 
                <ol type="a">
                    <li>
                        BlogBurst provides open categories for technical writing, academic, humor, 
                        creative, poetry, nature, journalistic, and business content.
                    </li>
                    <li>
                        Users are encouraged to select the most appropriate category for their posts.
                    </li>
                </ol>
            </li>
            <li>
                <strong>
                    Moderation
                </strong>
                <ol type="a">
                    <li>
                        BlogBurst reserves the right to moderate, edit, or remove any content that 
                        violates these terms and conditions.
                    </li>
                    <li>
                        Users who repeatedly violate the terms may be subject to account suspension or termination.
                    </li>
                </ol>
            </li>
            <li>
                <strong>Copyright and Intellectual Property</strong>
                <ol type="a">
                    <li>
                        Users must respect the intellectual property rights of others.
                    </li>
                    <li>
                        If you believe your work has been copied and posted on BlogBurst in a way that constitutes copyright infringement, please contact us.
                    </li>
                </ol>
            </li>
            <li>
                <strong> Privacy</strong>
                <p>
                    BlogBurst respects your privacy. Please review our Privacy Policy to understand how we collect, use, and disclose information.
                </p>    
            </li>
                
            <li>
                <strong>
                    Termination
                </strong>
                <p>
                    BlogBurst  reserves the right to terminate or suspend your account at any time for violations 
                    of these terms or for any other reason.
                </p>
            </li>
            <li>
                <strong> Changes to Terms</strong>
                <p>
                    BlogBurst may update these terms and conditions from time to time. 
                    Continued use of our services after such changes constitutes acceptance of the updated terms.
                </p>
            </li>
            <li>
                <strong>Contact</strong>
                <p>
                    If you have any questions or concerns about these terms and conditions, 
                    please contact us at blogburst@gmail.com.
                </p>
            </li>
        </ol>

        <p>
            Thank you for being a part of BlogBurst! Happy writing!
        </p>

    </div>


    <footer>
        <p>
            &copy; 2024. Made with &#128156; by B
        </p>
    </footer>

    <script src="{{url_for('static', filename='script/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script>
        // $(document).ready(function() {
        //     // Checkbox button disabled
        //     $('#agree').click(function() {
        //         var stateForMale = $("#agree").prop('checked');
        //         $('#remove-dis').prop('disabled', !stateForMale);
        //     });
        // });
    </script>

</body>
</html>
