<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About || BlogBurst</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:wght@100&family=Montserrat:ital,wght@1,100&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;1,100&family=Roboto:wght@100&family=Sometype+Mono&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    
    <header>

        <div class="bb-logo">
            <a class="navbar-brand" href="index.html">
                <span style="font-weight: bold; position: relative; left: 10%;">
                    Blog<img src="{{url_for('static', filename='Images/BB-logo.png')}}" id="gif" width="40" height="40" class="img-fluid"><i style="color: plum;">Burst</i>
                </span>
            </a>
        </div>

        <nav class="bb-nav-links">
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/sign in">
                        Sign In
                    </a>
                </li>
                <li>
                    <a class="bb-btn-modal-plum mx-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">
                        Register
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="about-head">
            <div class="overlay">
                <div class="image-head">
                    <h2 style="font-weight: bolder;">
                        Welcome to Blogburst!
                    </h2>
                    <p>
                        Who are we?
                    </p>
                </div>
            </div>
        </section>

        <section class="content">
            <p style="margin: 5vh 0;">
                At Blogburst, we believe in the power of ideas and the written word. 
                Our platform is more than just a blog site - it's a community where individuals like you can unleash their creativity,
                share their thoughts, and connect with a diverse audience.
            </p>

            <h2>
                Our Mission
            </h2>

            <p>
                Blogburst was born out of the idea that everyone has a story to tell and unique perspectives to share. 
                Our mission is to provide a space where these voices can be heard, celebrated, and appreciated. 
                We strive to be a platform that fosters creativity, encourages meaningful conversations, and promotes a sense of belonging.
            </p>

            <h2>
                What Sets Us Apart
            </h2>

            <h4>
                Unleash Your Creativity
            </h4>

            <p>
                Blogburst is your canvas. Whether you're a seasoned writer or just starting, our user-friendly 
                interface empowers you to express yourself effortlessly. 
                From thought-provoking articles to creative pieces, your content finds a home here.
            </p>

            <h4>
                Build Your Community
            </h4>

            <p>
                Connect with like-minded individuals who resonate with your ideas. 
                Our community is diverse, welcoming, and ready to engage in conversations that matter. 
                Blogburst is not just a platform; it's a hub where relationships are built, and ideas flourish.
            </p>

            <h4>
                Promoting Respectful Discourse
            </h4>

            <p>
                We value the diversity of opinions and encourage respectful discussions. 
                Blogburst is a space where different perspectives coexist, fostering an environment of learning and understanding. 
                We believe in the power of words to inspire positive change.
            </p>

            <h2>
                How It Works
            </h2>

            <ol type="1">
                <li>
                    <b>Create Your Account:</b> <a style="color: plum; text-decoration: none;" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Signing up</a> is quick and easy. 
                    Become a part of the Blogburst community by creating your account and unlocking a world of possibilities.
                </li>
                <li><b>Craft Your Articles:</b> Use our intuitive editor to bring your ideas to life. 
                    Format your articles, add images, and make your content visually appealing.
                </li>
                <li>
                    <b>Publish and Share:</b> Hit the publish button, and your article is live for the world to see. 
                    Share it with your friends, family, and the Blogburst community.
                </li>
                <li>
                    <b>Engage and Connect:</b> Receive feedback, comments, and likes from fellow writers and readers. 
                    Engage in conversations, expand your network, and discover new perspectives.
                </li>
            </ol>

            <h2>
                Join Us on the Journey
            </h2>

            <p>
                Blogburst is more than a platform; it's a journey of self-expression, connection, and discovery. 
                Join us today and become a part of a vibrant community that celebrates the diversity of ideas.
                <br> <br>
                Let your voice be heard. Welcome to Blogburst!
            </p>

        </section>

    </main>

    <!-- <footer>
        <p>
            &copy; 2023. Made with &#128156; by B
        </p>
    </footer> -->



    <!-- Registration modal starts here -->
    <div class="modal fade animate__animated animate__rollIn" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" style="color: plum !important; font-weight: bold !important;" id="staticBackdropLabel">Register</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
                <form id="regform" action="/">
                    <div class="warn">
                        <p id="warning">

                        </p>
                    </div>

                    <div class="mb-3">
                      <label for="firstname" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="firstname" name="userfirstname">
                    </div>

                    <div class="mb-3">
                      <label for="lastname" class="form-label">Last Name</label>
                      <input type="text" class="form-control" name="userlastname" id="lastname">
                    </div>
                    
                    <div class="mb-3">
                        <label for="regemail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="regemail" name="userregemail" aria-describedby="emailHelp">
                    </div>
  
                    <div class="mb-3">
                        <label for="regpwd" class="form-label">Password</label>
                        <input type="password" class="form-control" name="userregpwd" id="regpwd">
                    </div>

                    <div class="mb-3">
                        <label for="dateofbirth" class="form-label">Date Of Birth</label>
                        <input type="date" class="form-control" id="dateofbirth" name="userdateofbirth">
                    </div>

                    <!--gender-->
                    <div class="form-check form-check-block">
                        <input class="form-check-input" type="radio" name="usergender" id="male" value="option1">
                        <label class="form-check-label" for="male" value="male">Male</label>
                    </div>

                    <div class="form-check form-check-block mb-3">
                        <input class="form-check-input" type="radio" name="usergender" id="female" value="option2">
                        <label class="form-check-label" for="female" value="female">Female</label>
                    </div>
                    <!--gender-->

                    <!--agreement-->
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="agree">
                      <label class="form-check-label" for="exampleCheck1">
                        By clicking this, you agree to our terms and conditions
                      </label>
                    </div>
                    <!--agreement-->

                    <button type="submit" id="remove-dis" class="btn bb-btn-modal-plum" disabled>Sign Up</button>

                    <!--Has account already?-->
                    <p style="color: plum; margin-top: 10px;">
                        Already have an account? <a style="color: black;" href="login.html">Sign in</a>
                    </p>
                    <!--Has account already?-->
                </form>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="bb-hinge-outro" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn bb-btn-modal-plum">Understood</button> -->
            </div>
        </div>
        </div>
    </div>
    <!-- Registration modal ends here -->



    <script src="{{url_for('static', filename='script/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script>
        $(document).ready(function(){
            //Checkbox button disabled
            $(':checkbox').click(function() {
                var stateForMale = $("#agree").prop('checked');

                if(stateForMale == true) {
                    $('#remove-dis').removeAttr('disabled');
                } else {
                    $('#remove-dis').attr('disabled', 'disabled')
                }


            })
        })
    </script>

</body>
</html>
