* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #1D1B1B !important;
}

.content-head h2 {
    background: white;
    width: max-content;
    padding: 4px 4px 4px 60px;
    border-radius: 0 0 20px 0;
    color: #141414 !important;
}

/* .bb-addpost-section {
    height: 80vh !important;
    
} */

textarea {
    background-color: rgb(221, 212, 212) !important;
    height: 50vh;
}

.post_content {
    border-radius: 0 0 10px 10px !important;
}

.text-tools {
    border: 1px solid rgb(221, 212, 212) !important;
    /* border: 2px solid black; */
    background-color: black;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}