* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins, sans-serif;
}

.wrapper {
    height: 100vh;
    display: flex;
    /* border: 1px solid plum; */
}

.errorMessage {
    /* border: 1px solid plum; */
    position: relative;
    top: 30vh;
    height: 40vh;
    left: 15%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.left {
    width: 50%;
    height: inherit;
    /* border: 5px solid plum; */
}

.left img {
    height: 100vh;
    width: 100%;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: plum;
    /* border: 1px solid red; */
}

.right p, h2 {
    color: #141414 !important;
    font-weight: bolder;
    text-align: left !important;
}

.right h2 {
    font-size: 40px;
}

.right p {
    font-size: 15px;
}

.bkhm {
    width: max-content;
    border: 2px solid plum;
    padding: 10px;
    background: plum;
    border-radius: 10px;
    text-decoration: none !important;
    color: #141414 !important;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.bkhm:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: .5s;
}